main{
	border:7px groove #FFFFFF;
	display: grid;
	width: 800px;
	height: 600px;
	grid-template-rows: 100px auto;
}
/*colors
#8075FF  8075FF	FF8811	FF8811	A9FFF7
*/
#factDisplay{
	 border: 5px groove #0000A0;
	 padding: 10px;
}
form{
	 border: 5px groove #2B65EC;
	 display: grid;
	 grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	 grid-gap: 10px;
	 
}
input{
	background-color: #F5F5DC;
	color: #8C001A;
	font-family: 'Comic Sans MS';
	border-radius:15%;
	font-size: 15px;
}
input:hover{
	background-color: #A74AC7;
	color: #00FA9A;
}

body{
	display: flex;
	justify-content:center;
	align-items:center;
}
